@font-face {
    font-family: "mni";
    src: url("./mni.eot?e09a298ee382dc8c796980e9f4fcb190#iefix") format("embedded-opentype"),
url("./mni.woff2?e09a298ee382dc8c796980e9f4fcb190") format("woff2"),
url("./mni.woff?e09a298ee382dc8c796980e9f4fcb190") format("woff");
}

i[class^="mni-"]:before, i[class*=" mni-"]:before {
    font-family: mni !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mni-address-book:before {
    content: "\f101";
}
.mni-apps:before {
    content: "\f102";
}
.mni-archive:before {
    content: "\f103";
}
.mni-arrow-curve:before {
    content: "\f104";
}
.mni-arrow-doble-slash-vertical:before {
    content: "\f105";
}
.mni-arrow-dot-down:before {
    content: "\f106";
}
.mni-arrow-double-slash:before {
    content: "\f107";
}
.mni-arrow-right-double:before {
    content: "\f108";
}
.mni-Artboard-97:before {
    content: "\f109";
}
.mni-attachment:before {
    content: "\f10a";
}
.mni-badge:before {
    content: "\f10b";
}
.mni-bank:before {
    content: "\f10c";
}
.mni-box-code:before {
    content: "\f10d";
}
.mni-braces-alt:before {
    content: "\f10e";
}
.mni-briefcase:before {
    content: "\f10f";
}
.mni-bug:before {
    content: "\f110";
}
.mni-calculator:before {
    content: "\f111";
}
.mni-calendar:before {
    content: "\f112";
}
.mni-card-swipe:before {
    content: "\f113";
}
.mni-cash-bag:before {
    content: "\f114";
}
.mni-chair:before {
    content: "\f115";
}
.mni-chat-code:before {
    content: "\f116";
}
.mni-circle-login:before {
    content: "\f117";
}
.mni-circle-logout:before {
    content: "\f118";
}
.mni-circle-scroll:before {
    content: "\f119";
}
.mni-code-branches:before {
    content: "\f11a";
}
.mni-code-merge:before {
    content: "\f11b";
}
.mni-coffee-mug:before {
    content: "\f11c";
}
.mni-copier:before {
    content: "\f11d";
}
.mni-cube-skeleton:before {
    content: "\f11e";
}
.mni-dashboard:before {
    content: "\f11f";
}
.mni-database:before {
    content: "\f120";
}
.mni-doc-plus:before {
    content: "\f121";
}
.mni-documents:before {
    content: "\f122";
}
.mni-dots3:before {
    content: "\f123";
}
.mni-envelope:before {
    content: "\f124";
}
.mni-exc-octa:before {
    content: "\f125";
}
.mni-exc-triangle:before {
    content: "\f126";
}
.mni-file-cabinet:before {
    content: "\f127";
}
.mni-file-code:before {
    content: "\f128";
}
.mni-file-folder:before {
    content: "\f129";
}
.mni-file-structure:before {
    content: "\f12a";
}
.mni-file-text:before {
    content: "\f12b";
}
.mni-file:before {
    content: "\f12c";
}
.mni-files:before {
    content: "\f12d";
}
.mni-flag:before {
    content: "\f12e";
}
.mni-gallery:before {
    content: "\f12f";
}
.mni-headphones:before {
    content: "\f130";
}
.mni-help:before {
    content: "\f131";
}
.mni-home-alt:before {
    content: "\f132";
}
.mni-key-return:before {
    content: "\f133";
}
.mni-key:before {
    content: "\f134";
}
.mni-lamp:before {
    content: "\f135";
}
.mni-laptop-import-45:before {
    content: "\f136";
}
.mni-layers:before {
    content: "\f137";
}
.mni-layout2:before {
    content: "\f138";
}
.mni-layout6:before {
    content: "\f139";
}
.mni-letter-envelope:before {
    content: "\f13a";
}
.mni-link:before {
    content: "\f13b";
}
.mni-map:before {
    content: "\f13c";
}
.mni-marketing:before {
    content: "\f13d";
}
.mni-microhone:before {
    content: "\f13e";
}
.mni-mobile-code:before {
    content: "\f13f";
}
.mni-mouse-45:before {
    content: "\f140";
}
.mni-navigation:before {
    content: "\f141";
}
.mni-notepad:before {
    content: "\f142";
}
.mni-notification:before {
    content: "\f143";
}
.mni-oective:before {
    content: "\f144";
}
.mni-pen-holder:before {
    content: "\f145";
}
.mni-phone:before {
    content: "\f146";
}
.mni-pie:before {
    content: "\f147";
}
.mni-plant:before {
    content: "\f148";
}
.mni-poster:before {
    content: "\f149";
}
.mni-printer:before {
    content: "\f14a";
}
.mni-processor:before {
    content: "\f14b";
}
.mni-projector:before {
    content: "\f14c";
}
.mni-qr-alt:before {
    content: "\f14d";
}
.mni-receipt:before {
    content: "\f14e";
}
.mni-reception:before {
    content: "\f14f";
}
.mni-scroll-horizontal:before {
    content: "\f150";
}
.mni-server-alt:before {
    content: "\f151";
}
.mni-server-alt2:before {
    content: "\f152";
}
.mni-settings:before {
    content: "\f153";
}
.mni-shelf:before {
    content: "\f154";
}
.mni-sim:before {
    content: "\f155";
}
.mni-square-frame:before {
    content: "\f156";
}
.mni-square-vice-versa-alt:before {
    content: "\f157";
}
.mni-star:before {
    content: "\f158";
}
.mni-sticky-note:before {
    content: "\f159";
}
.mni-tie:before {
    content: "\f15a";
}
.mni-tree:before {
    content: "\f15b";
}
.mni-trophy:before {
    content: "\f15c";
}
.mni-USB:before {
    content: "\f15d";
}
.mni-user-terminal:before {
    content: "\f15e";
}
.mni-user-tie:before {
    content: "\f15f";
}
.mni-vault:before {
    content: "\f160";
}
.mni-volume:before {
    content: "\f161";
}
.mni-wallet:before {
    content: "\f162";
}
.mni-webcam:before {
    content: "\f163";
}
.mni-window-code:before {
    content: "\f164";
}
