@font-face {
    font-family: "mni";
    src: url("./mni.eot?1c34f0630950d90ed3f9b8a3b1b107a7#iefix") format("embedded-opentype"),
url("./mni.woff2?1c34f0630950d90ed3f9b8a3b1b107a7") format("woff2"),
url("./mni.woff?1c34f0630950d90ed3f9b8a3b1b107a7") format("woff");
}

i[class^="mni-"]:before, i[class*=" mni-"]:before {
    font-family: mni !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mni-user-add:before {
    content: "\f101";
}
.mni-user-check:before {
    content: "\f102";
}
.mni-user-circle-block:before {
    content: "\f103";
}
.mni-user-circle-code:before {
    content: "\f104";
}
.mni-user-circle:before {
    content: "\f105";
}
.mni-user-cross:before {
    content: "\f106";
}
.mni-user-sqaure-block:before {
    content: "\f107";
}
.mni-user-sqaure-check:before {
    content: "\f108";
}
.mni-user-sqaure-code:before {
    content: "\f109";
}
.mni-user-square-add:before {
    content: "\f10a";
}
.mni-user-square:before {
    content: "\f10b";
}
.mni-users:before {
    content: "\f10c";
}
